/* 
*@desc 按钮组件库
*@auth xguo
*@date 7/6
*/

.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: white;
    line-height: 1.4117;
    border-radius: 4px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}

.weui-btn:active {
    background-color: #06ae56;
}

.weui-btn_primary {
    background-color: #07c160;
}

.weui-btn_default {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.08);
}

.weui-btn_disabled {
    background-color: rgba(255, 255, 255, 0.08);
    color:rgba(255, 255, 255, 0.2);
} 

.weui-btn_loading.weui-btn_primary {
    background-color: rgba(6, 174, 86, 0.6);
    color: rgba(255, 255, 255, 0.8);
}

/* 相邻的两个按钮自动添加margin */
.weui-btn + .weui-btn {
    margin-top: 16px;
    
}

