<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/dist/style.css" />
  </head>
  <body>
    <section class="blog">
      <ul id="container" class="blog-list">
        <li class="item">
          <header>
            <a href="">
              <span class="article-type">在线</span>
              <img
                src="https://source.unsplash.com/dnL6ZIpht2s/280x180"
                alt=""
                width="310px"
              />
            </a>
          </header>
          <div class="post-body">
            <a href="/detail/12"
              ><h2>
                Floral Crown
                <span>2020-09-23</span>
              </h2></a
            >
            <a href="/detail/13"
              ><h2>
                Floral Crown
                <span>2020-09-23</span>
              </h2></a
            >
            <a href="/detail/14"
              ><h2>
                Floral Crown
                <span>2020-09-23</span>
              </h2></a
            >
            <a href="/detail/15"
              ><h2>
                Floral Crown
                <span>2020-09-23</span>
              </h2></a
            >
          </div>
          <footer>
            <a class="more-link" href="">更多</a>
          </footer>
        </li>
        <li class="item">
          <header>
            <a href="#">
              <span class="article-type">公文公告</span>
              <img
                src="https://source.unsplash.com/dnL6ZIpht2s/280x180"
                alt=""
                width="310px"
              />
            </a>
          </header>
          <div class="post-body">
            <h2>Floral Crown</h2>
          </div>
          <footer>
            <a class="more-link" href="">更多</a>
          </footer>
        </li>
        <li class="item">
          <header>
            <a
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
            >
              <span class="article-type">员工回音壁</span>
              <img
                src="https://source.unsplash.com/dnL6ZIpht2s/280x180"
                alt=""
                width="310px"
              />
            </a>
          </header>
          <div class="post-body">
            <h2>Coachella Part 2</h2>
            <p>
              The beauty of a music festival such as Coachella is wandering the
              7 stages and sampling the sounds of all genres of music. From folk
              and indie, to electro and soul (or a mash of them all), here is...
            </p>
          </div>

          <footer>
            <a
              class="more-link"
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
              >Read more</a
            >
          </footer>
        </li>
        <li class="item double">
          <header>
            <a
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
            >
              <span class="article-type">内部招聘</span>
              <img
                src="https://source.unsplash.com/dnL6ZIpht2s/280x180"
                alt=""
                width="636px"
                height="161"
              />
            </a>
          </header>
          <div class="post-body">
            <h2>Floral Crown</h2>
            <p>
              What better way to celebrate spring and summer than to wear
              flowers in your hair! And there's no easier way to do this than by
              creating a pretty and easy floral crown you can wear over and over
              again. Just follow the instructions below and soon...
            </p>
          </div>
          <footer>
            <a
              class="more-link"
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
              >Read more</a
            >
          </footer>
        </li>
        <li class="item">
          <header>
            <a
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
            >
              <span class="article-type">企业服务联系方式</span>
              <img
                src="https://source.unsplash.com/dnL6ZIpht2s/280x180"
                alt=""
                width="310px"
              />
            </a>
          </header>
          <div class="post-body">
            <a href="?1397162910"><h2>Coachella Part 1</h2></a>
            <p>
              Bobby Raffin, a close friend of ours and a true wanderer of the
              world, shows us how to make a super easy DIY feathered headband.
              He says, "it will most definitely be...
            </p>
          </div>
          <footer>
            <a
              class="more-link"
              href="http://lb.dev:3000/blog/1-DIY-Easy-to-Make-Feathered-Headband"
              >Read more</a
            >
          </footer>
        </li>
      </ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        // Build the news grid
        var container = document.querySelector('#container');
        var msnry = new Masonry(container, {
          // options
          columnWidth: 326,
          itemSelector: '.item'
        });
      });
    </script>
  </body>
</html>
